<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>- Dual Function cooling and charging unit for an ultrasound imaging apparatus-US20230225706A1
- Transducer adapters for allowing multiple modes of ultrasound imaging using a single ultrasound transducer - Issued May 24, 2018, US20180140277A1
- Ultrasound imaging apparatus with an add-on vibration inducing device for ultrasound elastography - US20200323517A1
- Ultrasound scanner - Issued Apr 10, 2018, USD815293S1
- Ultrasound apparatus with improved heat dissipation and methods for providing same - Issued Mar 22, 2018, US20180078240A1
- Battery - Issued Nov 14, 2017, USD802528S1
- Battery Charger - Issued Jul 17, 2018, USD823240S1
- Defoliation Collecting Processor - Issued May 8, 2008 ZL 200820047451.0
- Ultrasound scanner - Issued Jun 06, 2021, USD1004784S1 </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
